@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
 @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
 body {
	 font-family: "Open Sans", sans-serif;
	 background: #eee;
}
 .container {
	 margin: 0 auto;
	 margin-top: 50px;
	 width: 980px;
}
 header {
	 display: flex;
	 align-items: center;
	 font-size: 1em;
	 font-weight: 600;
	 color: #bdbdbd;
	 padding: 20px;
	 box-sizing: border-box;
	 user-select: none;
	 text-align: center;
}
 header .button-col {
	 width: 240px;
	 text-align: left;
}
 header .status-col {
	 width: 145px;
}
 header .progress-col {
	 width: 190px;
}
 header .dates-col {
	 width: 150px;
}
 header .priority-col {
	 width: 170px;
}
 header .icon-col {
	 width: 30px;
	 text-align: right;
}
 header button {
	 color: #bdbdbd;
	 outline: none;
	 border: none;
	 background: #d5d5d5;
	 padding: 10px 20px;
	 border-radius: 2.5px;
	 margin-right: 20px;
	 font-size: 1em;
	 font-weight: 600;
}
 header button:hover {
	 cursor: pointer;
	 background: #3d3d44;
}
 header label {
	 display: inline-block;
	 margin: 0 20px;
	 text-align: center;
}
 header .icon-col {
	 padding-right: 20px;
}
 ul.task-items li.item {
	 display: flex;
	 align-items: center;
	 margin: 20px 0;
	 padding: 20px;
	 background: #fff;
	 border-radius: 5px;
	 box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
 ul.task-items li.item.type1 .task .icon {
	 background: #9575cd;
}
 ul.task-items li.item.type2 .task .icon {
	 background: #f48fb1;
}
 ul.task-items li.item.type3 .task .icon {
	 background: #9575cd;
}
 ul.task-items li.item.type4 .task .icon {
	 background: #4fc3f7;
}
 ul.task-items li.item .task {
	 display: flex;
	 align-items: center;
	 width: 240px;
}
 ul.task-items li.item .task .icon {
	 background: #bdbdbd;
	 width: 50px;
	 height: 50px;
	 border-radius: 5px;
}
 ul.task-items li.item .task .name {
	 background: #eee;
	 margin-left: 20px;
	 width: 180px;
	 height: 25px;
	 border-radius: 15px;
}
 ul.task-items li.item .status {
	 display: flex;
	 align-items: center;
	 font-size: 1em;
	 color: #2e7d32;
	 width: 145px;
	 margin-left: 30px;
}
 ul.task-items li.item .status .icon {
	 background: #2e7d32;
	 margin-right: 10px;
	 width: 14px;
	 height: 14px;
	 border-radius: 50%;
}
 ul.task-items li.item .status .icon.risk {
	 background: red;
}
 ul.task-items li.item .status .icon.warning {
	 background: #ffa000;
}
 ul.task-items li.item .status .icon.off {
	 background: #bf360c;
}
 ul.task-items li.item .progress {
	 width: 190px;
}
 ul.task-items li.item .progress progress {
	 display: block;
	 margin-left: 0;
	 -webkit-appearance: none;
	 height: 12.5px;
	 width: 142.5px;
}
 ul.task-items li.item .progress progress::-webkit-progress-bar {
	 background-color: #eee;
	 border-radius: 5px;
}
 ul.task-items li.item .progress ::-webkit-progress-value {
	 background-color: #4dd0e1;
	 border-radius: 5px;
}
 ul.task-items li.item .dates {
	 width: 150px;
}
 ul.task-items li.item .dates .bar, ul.task-items li.item .priority .bar {
	 background: #eee;
	 width: 100px;
	 height: 25px;
	 border-radius: 15px;
}
 ul.task-items li.item .priority {
	 width: 144.5px;
}
 ul.task-items li.item .priority .bar {
	 background: #ffcdd2;
}
 ul.task-items li.item .user {
	 width: 30px;
}
 ul.task-items li.item .user img {
	 border-radius: 50%;
}
 

@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap";

/* relevant portion */
#toggle-pseudos:checked ~ .container ul{
	--separator: ",";
	--connector: "and";

	padding: 0;
	margin: 0;
	display: inline;
	list-style-type: none;
}

/* spread these list items as text nodes */
#toggle-pseudos:checked ~ .container li{
	display: inline;
}

#toggle-pseudos:not(:checked) ~ .container li{
	margin: 0.5em 0;
}

#toggle-pseudos:not(:checked) ~ .container li::after{
	content: none;
}

#highlight-pseudos:not(:checked) ~ .container li::after{
	color: inherit;
	font-weight: 500;
}

/* "Add a comma after each list item." */
li::after{
	content: var(--separator);
	color: #ef5016;
	transition: color ease 200ms;
	font-weight: 700;
}

/* "Hold on, add a comma along with an 'and' after the second last list item." */
li:nth-last-of-type(2)::after{
	content: var(--separator) " " var(--connector) " ";
	color: #0058ff;
}

/* "Hang on, only add an 'and' after the second last list item if it's the first list item as well." */
li:first-of-type:nth-last-of-type(2)::after{
	content: " " var(--connector);
	color: #178717;
}

/* "Finally, add a fullstop after the last list item." */
li:last-of-type::after{
	content: ".";
	color: #0000ff;
}

/* no margin for item containers */
ul{
	margin: 0;
	list-style-type: square;
}

li::marker{
	color: var(--accent-alpha);
}

/* layout and decoration */
:root{
	--accent: #7a24f2;
	--accent-alpha: #7a24f2bb;
	--text: #000;
	--text-secondary: #000000cc;
	--container: #fff;
	--section-color: #fff;
}

::selection{
	background-color: var(--accent-alpha);
	color: var(--section-color);
}

html, body{
	position: relative;
	inset: 0;
	width: 100%;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

html{
	color: var(--text);
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.28em;
	font-weight: 500;
	display: block;
	background-image: radial-gradient(circle at 50%, #fff, #eee);
	background-size: 100% 100%;
	background-attachment: fixed;
}

body{
	display: grid;
	place-items: center;
	background-color: transparent;
}

/* keep the <main> thing the <main> thing */
main{
	position: relative;
	inset: 0;
	max-width: 950px;
	min-width: 480px;
	margin: 3em 2em;
}

h1, h2{
	padding: 0;
	margin: 0;
	margin-top: -0.3ch; /* wanna get rid of those annoying margin */
	font-weight: 700;
	color: var(--accent);
}

h2{
	font-size: 1em;
}

h1::before, h2::before{
	content: "#"; /* some icing, I suppose */
	color: var(--text-secondary);
	font-size: 0.8em;
}

h2::before{
	font-size: 1em;
}

p{
	margin: 1em 0;
	line-height: 1.7;
}

/* checkboxes (disguised as toggles) */
input{
	position: relative;
	left: 0;
	top: 0;
	opacity: 0;
	margin: 0 -7px; /* a typical Windows checkbox is 14x14 in size */
}

input:checked + label{
	color: var(--accent);
}

input:checked + label::before{
	transform: translateY(30%) scaleX(1);
	transform-origin: left top;
}

input:focus-visible + label{
	outline: 2px solid var(--accent);
	outline-offset: 4px;
}

label{
	position: relative;
	margin: 0 0.6em 1em 0;
	font-weight: 600;
	cursor: pointer;
	transition: color ease 0.4s;
	color: var(--text-secondary);
	display: inline-block;
}

label::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translateY(30%) scaleX(0);
	width: 100%;
	height: 0.72em;
	background-color: currentColor;
	z-index: -1;
	transform-origin: right top;
	transition: transform ease 0.4s;
	opacity: 0.4;
}

label:hover{
	color: var(--text);
}

/* showcase the concept */
.container{
	position: relative;
	width: 100%;
	background-color: var(--container);
	border-radius: 4px;
	box-shadow: 0.8em 0.8em 0 0 var(--accent-alpha);
	border: 2px solid var(--accent);
	margin-top: 1.5em;
	padding: 0 2em;
	box-sizing: border-box;
}

.container section{
	margin: 1.8em 0;
}

.container div{
	margin-top: 0.5em;
	font-size: 0.9em;
	line-height: 1.6;
}

/* Made with Coffee, Care, and Curiosity by @ShadowShahriar */
@charset "UTF-8";
/* Please ❤ this if you like it! 😊 */
/* Googles Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* Reset Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #141a4e;
  background-color: #f2f6f9;
  font-size: 1.6rem;
}

/* Page Wrapper/Container Style */
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Responsive Table Style */
/* Responsive Table Style */
.responsive-table {
    background-color: #fefefe;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
    width: 100%;
    margin: 2rem 0;
    overflow: hidden;
}

.responsive-table__row {
    display: grid;
    border-bottom: 1px solid #edeef2;
    padding: 0 1.5rem;
}

@media (min-width: 768px) {
    .responsive-table__row {
        grid-template-columns: 3fr repeat(7, 1fr); /* Updated grid-template-columns */
    }
}

@media (max-width: 991px) {
    .responsive-table__row {
        grid-template-columns: repeat(4, 1fr);
    }
}

.responsive-table__row th,
.responsive-table__row td {
    padding: 1rem;
}

.responsive-table__head {
    background-color: #e1e8f2;
}

@media (max-width: 991px) {
    .responsive-table__head {
        display: none;
    }
}

.responsive-table__head__title {
    display: flex;
    align-items: center;
    font-weight: 500;
    text-transform: capitalize;
}

  .responsive-table__body .responsive-table__row {
    transition: 0.1s linear;
    transition-property: color, background;
  }
  .responsive-table__body .responsive-table__row:last-child {
    border-bottom: none;
  }
  .responsive-table__body .responsive-table__row:hover {
    color: #ffffff;
    background-color: #fb4f83;
  }
  .responsive-table__body__text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .responsive-table__body__text::before {
    margin-right: 1rem;
    font-weight: 600;
    text-transform: capitalize;
  }
  @media (max-width: 991px) {
    .responsive-table__body__text::before {
      content: attr(data-title) " :";
    }
  }
  @media (max-width: 400px) {
    .responsive-table__body__text::before {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  .responsive-table__body__text--name {
    font-weight: 600;
  }
  @media (min-width: 768px) {
    .responsive-table__body__text--name::before {
      display: none;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .responsive-table__body__text--name {
      grid-column: span 2;
      flex-direction: column;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .responsive-table__body__text--status,
    .responsive-table__body__text--types,
    .responsive-table__body__text--update,
    .responsive-table__body__text--country {
      grid-column: span 2;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .responsive-table__body__text--name,
    .responsive-table__body__text--country {
      grid-row: span 2;
    }
  }
  
  /* SVG Up Arrow Style */
  .up-arrow {
    height: 100%;
    max-height: 1.8rem;
    margin-left: 1rem;
  }
  
  /* SVG User Icon Style */
  .user-icon {
    width: 100%;
    max-width: 4rem;
    height: auto;
    margin-right: 1rem;
  }
  
  /* Status Indicator Style */
  .status-indicator {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background: #222222;
    margin-right: 0.5rem;
  }
  .status-indicator--active {
    background: #25be64;
  }
  .status-indicator--inactive {
    background: #dadde4;
  }
  .status-indicator--new {
    background: #febf02;
  }
  